<% provide(:title, 'Create a new Tour') %>
<h1>Create a New Tour</h1>

<div class="row">
  <div class="span8">
    <%= render 'tours/tour_rename', :locals => { :tour => @tour } %>
  </div>
</div>
